.navbar a:hover{
    background-color: white !important;
    color: black !important;
    border-radius: 2px !important;
}
.name{
    border: 2px solid white !important;
    padding: 5px !important;
    border-radius: 5px !important;
}

.carousel{
    margin-left: 100px !important;
    height: 750px !important;
    width: 1300px !important;
    border-radius: 5px !important;
}
.list{
    margin-top: 20px;
    list-style: none;
}

.immg{
    height: 500px;
    width: 500px;
}

.summery{
    font-size: 18px;
    font-weight: bold;
}