.head{
    background-image: url(../homepage/IMG/login\ image.jpeg);
}
.back{
    background-image: url(../homepage/IMG/login\ image.jpeg);    
}
.log{
    margin-top: 150px;
    height: 900px !important;
    width: 500px !important;
}